
# Ignore all .txt and .md files except README.md (case-insensitive)
*.txt
*.TXT
!README.md
!README.MD

Delete storybook startup mode.
My vision: The choose what to do hub will be replaced by a 2d interactive, walk-around environment of player's bakery. There will be minimal buttons, popups and stats showing in 2d enviroment.
Users can add equipment (ovens, fridge, cars/motorcycles for delivery, computer) interior design (decor, furniture, decorations, signs, etc...) exterior design, etc...
Player can walk around bakery, do everything in the game from that 2d environment. There will be no "modes". The entire game will be played never leaving the 2d environment. Player can access needed stats and info in environent's computer.
There will be minimal clutter of text, just like in real life. 2d environment will include the outside world as well
There is a lot of intricate graphics coding that needs to be done. 